/.idea/
/css/.sass-cache/
/node_modules/jquery/external/
/node_modules/jquery/src/
/node_modules/jquery/AUTHORS.txt
/node_modules/jquery/bower.json
/node_modules/jquery/LICENSE.txt
/node_modules/jquery/package.json
/node_modules/jquery/README.md
/node_modules/jquery/dist/jquery.min.map
/node_modules/jquery/dist/jquery.slim.js
/node_modules/jquery/dist/jquery.slim.min.map
/node_modules/jquery/dist/jquery.js
/node_modules/npm-font-open-sans/
/node_modules/slick-carousel/.npmignore
/node_modules/slick-carousel/bower.json
/node_modules/slick-carousel/component.json
/node_modules/slick-carousel/CONTRIBUTING.markdown
/node_modules/slick-carousel/index.html
/node_modules/slick-carousel/ISSUE_TEMPLATE.md
/node_modules/slick-carousel/LICENSE
/node_modules/slick-carousel/Makefile
/node_modules/slick-carousel/package.json
/node_modules/slick-carousel/README.markdown
/node_modules/slick-carousel/slick.jquery.json
/node_modules/slick-carousel/slick/ajax-loader.gif
/node_modules/slick-carousel/slick/slick-theme.less
/node_modules/slick-carousel/slick/slick.scss
/node_modules/slick-carousel/slick/slick-theme.scss
/node_modules/slick-carousel/slick/slick.less
/node_modules/slick-carousel/slick/config.rb
/node_modules/slick-carousel/slick/fonts/
/node_modules/slick-carousel/slick/slick.js
